body {
}

.content {
  width: 100%;
}
.home {
  height: 890px;
  background-image: url(../img/bg/bg1.png);
}
.logo {
  font-size: 19px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.29427102149745,0,0,2.27990430760153,0,0);
  -webkit-transform: matrix( 2.29427102149745,0,0,2.27990430760153,0,0);
  -ms-transform: matrix( 2.29427102149745,0,0,2.27990430760153,0,0);
  position: absolute;
  left: 105.149px;
  top: 41.297px;
  z-index: 194;
}

}
.main-menu {
  float: right;
}
.main-menu-item {
  font-size: 10px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}

}
.search {
}
.fb {
}
