
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "ROBO"; 
    // адрес шрифта и тип 
    src: url("../../font/robo.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "NamukoSans"; 
    // адрес шрифта и тип 
    src: url("../../font/NamukoSans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 